# Base configs

Options All -Indexes
<Files .htaccess>
<IfModule authz_core_module>
    Require all denied
</IfModule>
<IfModule !authz_core_module>
    Deny from all
</IfModule>
</Files>
<Files index.html>
<IfModule authz_core_module>
    Require all denied
</IfModule>
<IfModule !authz_core_module>
    Deny from all
</IfModule>
</Files>
<Files readme.php>
<IfModule authz_core_module>
    Require all denied
</IfModule>
<IfModule !authz_core_module>
    Deny from all
</IfModule>
</Files>

# Apache rewrite URL configuration

#<IfModule mod_rewrite.c>
#RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ index.php/$1 [L]
#RewriteCond %{THE_REQUEST} ^(.*)/index.php/(.*)$
#RewriteRule . - [R=404,L]
#</IfModule>